/********
 * LOGO *
 ********/

@media screen and (min-width: 768px) {
  .site-footer .footer-logo {
      background-size: 51px 80px;
      height: 51px;
      margin-bottom: 0;
      margin-bottom: 0;
      width: 80px;
  }
}

/*********
 * COLOR *
 *********/

p a, p a:link, p a:visited {
  color:#999;
}

.pytorch-left-menu li.toctree-l1.current>a, .pytorch-right-menu li.toctree-l1.current>a,
.header-holder .main-menu ul li.active:after, .header-holder .main-menu ul li.active a,
ul.pytorch-breadcrumbs a, p a:hover, li a:hover, .btn:hover,
article.pytorch-article .class em.property,.anchorjs-link:hover {
  color:transparent;
  -webkit-background-clip: text !important;
  -webkit-text-fill-color: transparent;
  background: rgb(241,90,36);
  background: linear-gradient(135deg, rgba(241,90,36,1) 0%, rgba(251,176,59,1) 100%);
}

.pytorch-left-menu li.toctree-l1.current > a::before, .pytorch-right-menu li.toctree-l1.current > a::before {
  color: transparent;
  height: 8px;
  width: 8px;
  border-radius: 50%;
  background: rgb(241,90,36);
  background: linear-gradient(135deg, rgba(241,90,36,1) 0%, rgba(251,176,59,1) 100%);
}

article.pytorch-article .class dt {
  background-clip: padding-box;
  -webkit-background-clip: padding-box;
  border: solid 3px transparent;
}

article.pytorch-article .class dt::before {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;

  margin-top:-3px;
  margin-left:1px;
  background: rgb(241,90,36);
  background: linear-gradient(135deg, rgba(241,90,36,1) 0%, rgba(251,176,59,1) 100%);
}

.pytorch-content-wrap {
  background-color:transparent;  /* allows gradients to show up as borders */
}


article.pytorch-article .attribute dt,
article.pytorch-article .function dt,
article.pytorch-article .class .attribute dt,
article.pytorch-article .class .classmethod dt,
article.pytorch-article .class .method dt,
article.pytorch-article .class .staticmethod dt {
  border-left:3px solid transparent;
}

article.pytorch-article .attribute dt::before,
article.pytorch-article .function dt::before,
article.pytorch-article .class .attribute dt::before,
article.pytorch-article .class .classmethod dt::before,
article.pytorch-article .class .method dt::before,
article.pytorch-article .class .staticmethod dt::before {
  margin-top:0;
  margin-left:-3px;
  background: linear-gradient(0deg, rgba(241,90,36,1) 0%, rgba(251,176,59,1) 100%);
}

/* HACK: why is this needed? */
article.pytorch-article .class dl.attribute dt::before {
  margin-left:-6px;
  margin-bottom: -3px;
}

/*********
 * FIXES *
 *********/

.pytorch-left-menu li.current ul,  .pytorch-right-menu li.current ul {
  padding-left: 1em;
}

#docs-tutorials-resources {
  padding: 0;
  height: 0;
  margin: 0;
}

.built-with {
  margin-bottom:1em;
}

.pytorch-menu-vertical {
  padding-bottom: 1.625rem;
}

.pytorch-breadcrumbs-aside img {
  height: 20px;
}

@media screen and (min-width: 1101px) {
  .pytorch-left-menu li.toctree-l1.current>a:before, .pytorch-right-menu li.toctree-l1.current>a:before {
    top:5px;
  }
}
