{%- set urls = {
  'github': 'https://github.com/alvinwan/texsoup',
  'github_issues': 'https://github.com/alvinwan/texsoup/issues',
  'getting_started': 'https://texsoup.alvinwan.com/docs/quickstart.html',
  'docs': 'https://texsoup.alvinwan.com/docs/',
  'home': 'https://texsoup.alvinwan.com/',
  'md2py': 'https://github.com/alvinwan/md2py',
  'tex2py': 'https://github.com/alvinwan/tex2py'
}
-%}
{%- set main_menu_links = [
  {'name': 'Home', 'href': urls['home']},
  {'name': 'Docs', 'href': urls['docs']},
  {'name': 'Github', 'href': urls['github'],}
]
-%}
{%- set footer_columns = [
  {'name': 'TexSoup', 'href': urls['home'], 'links': [
    {'name': 'Getting Started', 'href': urls['getting_started']}
  ]},
  {'name': 'Support', 'links': [
    {'name': 'Docs', 'href': urls['docs']},
    {'name': 'Github Issues', 'href': urls['github_issues']}
  ]},
  {'name': 'Related', 'links': [
    {'name': 'Markdown2Python', 'href': urls['md2py']},
    {'name': 'LaTeX2Python', 'href': urls['tex2py']}
  ]}
]
-%}
